.vagrant
.idea
.DS_Store
batch/parser/*
cache/
config/generated*
config/settings.yml
data/sql/lib*
data/sql/plugins*
*.sql
lib/model/map
lib/model/om
plugins/*/lib/model/map
plugins/*/lib/model/om
web/*_dev.php
web/images/parlamentari/thumb
web/images/parlamentari/picture
web/xml
log/
