.vagrant
.idea
.DS_Store
batch/parser/*
batch/build
cache/
config/generated*
config/settings.yml
data/sql/lib*
data/sql/plugins*
*.sql
lib/model/map
lib/model/om
plugins/*/lib/model/map
plugins/*/lib/model/om
web/*_dev.php
web/images/parlamentari/thumb
web/images/parlamentari/picture
web/xml
web/google7e36e209e16d21f8.html
log/
/test_simplexml_load.php
