# google sitemap
gsitemap:
  url: /gsitemap
  param: { module: sfSimpleGoogleSitemap, action: index }

json_get_last_date_for_politician_history_cache:
  url: /json_getLastDateForPoliticianHistoryCache
  param: { module: json, action: getLastDateForPoliticianHistoryCache }

json_get_dates_for_politician_history_cache:
  url: /json_getDatesForPoliticianHistoryCache/*
  param: { module: json, action: getDatesForPoliticianHistoryCache }

json_get_index_charts_politicians:
  url: /json_getIndexChartsPoliticians/*
  param: { module: json, action: getIndexChartsPoliticians }

json_get_index_charts_groups:
  url: /json_getIndexChartsGroups/*
  param: { module: json, action: getIndexChartsGroups }

json_get_index_charts_sex:
  url: /json_getIndexChartsSex/*
  param: { module: json, action: getIndexChartsSex }

json_get_index_charts_regions:
  url: /json_getIndexChartsRegions/*
  param: { module: json, action: getIndexChartsRegions }

json_get_index_charts_politicians_in_constituency:
  url: /json_getIndexChartsPoliticiansInConstituency/*
  param: { module: json, action: getIndexChartsPoliticiansInConstituency }

json_get_index_charts_top_politicians:
  url: /json_getIndexChartsTopPoliticians/*
  param: { module: json, action: getIndexChartsTopPoliticians }



api_pol_image:
  url: /get_pol_image/:key/:id
  param: { module: api, action: getPolImage }

api_atto:
  url: /fb_get_atto/:key/:opp_id.xml
  param: { module: api, action: atto }

api_elenco_atti:
  url: /fb_get_elenco_atti/:key/:data_inizio/:data_fine/*
  param: { module: api, action: elencoAtti }

api_parlamentare:
  url: /singolo_parlamentare/:key/:id
  param: { module: api, action: parlamentare }

api_parlamentari:
  url: /elenco_parlamentari/:key/:ramo/:infotype/:orderby/:ordertype
  param: { module: api, action: elencoParlamentari }
  
api_parlamentari_id:
  url: /elenco_parlamentari_id/:ramo
  param: { module: api, action: getParlamentoIdParlamentariInCarica }  

api_parlamentari_dimessi_id:
  url: /elenco_parlamentari_dimessi_id/:ramo
  param: { module: api, action: getParlamentoIdParlamentariNonInCarica }  

api_voti_chiave:
  url: /elenco_voti_chiave/:key/*
  param: { module: api, action: elencoVotiChiave }

api_voti_maggioranza_:
  url: /elenco_voti_maggioranza_sotto/:key
  param: { module: api, action: elencoVotiMaggioranzaSotto }
  
api_votazione:
  url: /votazione/:key/:id
  param: { module: api, action: votazione }
  requirements: { id: \d+ }

api_cariche_interne:
  url: /cariche_interne/:key
  param: { module: api, action: getCaricheInterneCSV }

api_incarichi_gruppi:
  url: /incarichi_gruppi/:key
  param: { module: api, action: getIncarichiGruppiCSV }

attivita_gruppo_argomento:
  url: /attivita_gruppo_argomento/:ramo/:gruppo_id/*
  param: { module: monitoring, action: attivitaGruppoArgomento }

  
tesseramento:
  url: /tesseramento
  param: { module: static, action: tesseramento }
  
contatti:
  url: /contatti
  param: { module: static, action: contatti }

sottoscrizioni_pro:
  url: /sottoscrizioni_pro
  param: { module: default, action: sottoscrizioniPro }

sottoscrizione_premium_demo:
  url: /sottoscrizione_premium_demo
  param: { module: default, action: sottoscrizionePremiumDemo }
  
sottoscrizione_premium:
  url: /sottoscrizione_premium
  param: { module: default, action: sottoscrizionePremium }


grafico_distanze:
  url: /grafico_distanze/:tipo
  param: { module: default, action: graficoDistanze, tipo: 'votes_16_C' }

blog_index:
  url: /blog
  param: { module: sfSimpleBlog, action: index }

blog_article_with_date:
  url: /blog/:year/:month/:day/:stripped_title
  param: { module: sfSimpleBlog, action: show }

blog_article:
  url: /blog/:stripped_title
  param: { module: sfSimpleBlog, action: show }

blog_tag:
  url: /blog/tag/:tag
  param: { module: sfSimpleBlog, action: showByTag }


feed:
  url: /feed/
  param: { module: feed, action: lastGeneric }

feed_disegni:
  url: /feed/disegni
  param: { module: feed, action: lastDisegni }

feed_decreti:
  url: /feed/decreti
  param: { module: feed, action: lastDecreti }

feed_decretiLegislativi:
  url: /feed/decretiLegislativi
  param: { module: feed, action: lastDecretiLegislativi }

feed_attiNonLegislativi:
  url: /feed/attiNonLegislativi
  param: { module: feed, action: lastAttiNonLegislativi }
  
feed_politico:
  url: /feed/politico/:id
  param: { module: feed, action: lastPolitico }

feed_politico_radicali:
  url: /feed/politico_radicali/:id
  param: { module: feed, action: lastPoliticoRadicali }

feed_atto:
  url: /feed/atto/:id
  param: { module: feed, action: lastAtto }

feed_atti_in_evidenza:
  url: /feed/atti_in_evidenza/:namespace
  param: { module: feed, action: attiInEvidenza, namespace: all }

feed_voti_in_evidenza:
  url: /feed/voti_in_evidenza/:namespace/:base_href
  param: { module: feed, action: votiInEvidenza, namespace: all, base_href: openparlamento }

feed_user_news:
  url: /feed/news_utente/:token
  param: { module: feed, action: userNews, token: '' }
  
feed_tag_news:
  url: /feed/tag/:id
  param: { module: feed, action: tagNews }
  
  
monitoring_news:
  url: /monitoring_news/*
  param: { module: monitoring, action: news}

monitoring_acts:
  url: /monitoring_acts/*
  param: { module: monitoring, action: acts}

monitoring_politicians:
  url: /monitoring_politicians/*
  param: { module: monitoring, action: politicians}

monitoring_tags:
  url: /monitoring_tags/*
  param: { module: monitoring, action: tags }

monitoring_tags_deputati:
  url: /monitoring_tags_deputati/*
  param: { module: monitoring, action: tagsDeputati}

monitoring_tags_senatori:
  url: /monitoring_tags_senatori/*
  param: { module: monitoring, action: tagsSenatori}

monitoring_dettaglio_posizione:
  url:   /dettaglio_posizione/:carica_id/:tags_ids
  param: { module: monitoring, action: posizioneDettaglio }

monitoring_deputati_export:
  url: /impact_factor_deputati_export/*
  param: { module: monitoring, action: impactFactorDeputatiCSV }
  requirements: 
    method: [get]

monitoring_senatori_export:
  url: /impact_factor_senatori_export/*
  param: { module: monitoring, action: impactFactorSenatoriCSV }
  requirements: 
    method: [get]


monitoring_alerts:
  url: /monitoring_alerts/*
  param: { module: monitoring, action: alerts }  

addTagToMyMonitoredTags:
  url: /addTagToMyMonitoredTags/:name
  param: { module: monitoring, action: addTagToMyMonitoredTags }

removeTagFromMyMonitoredTags:
  url: /removeTagFromMyMonitoredTags/:name
  param: { module: monitoring, action: removeTagFromMyMonitoredTags }


dati_storici_interessi:
  url:   /interessi/*
  param: { module: datiStorici, action: interessi }

dati_storici_dettaglio_interessi:
  url:   /dettaglio_interessi/:carica_id/:tags_ids
  param: { module: datiStorici, action: interessiDettaglio }

dati_storici_rilevanza_tag_export:
  url:   /rilevanza_tag_export/:limit
  param: { module: datiStorici, action: rilevanzaTagExport, limit: 50 }

dati_storici_geoaggregati_rilevanza_tag_export:
  url:   /geoaggregati_rilevanza_tag_export
  param: { module: datiStorici, action: geoAggregatiRilevanzaTagExport}
  
dati_storici_indice_presenze_export:
  url:   /indice_presenze_export/*
  param: { module: datiStorici, action: indicePresenzeExport }
  

  
news_home_old:
  url: /news_home/*
  param: { module: news, action: homeAll }
news_home:
  url: /notizie-dal-parlamento/*
  param: { module: news, action: homeAll }
      
news_tag:
  url: /news_tag/:id/*
  param: { module: news, action: tag }

news_atto:
  url:  /news_atto/:id/*
  param: { module: news, action: act }

news_parlamentare:
  url:  /news_parlamentare/:id/*
  param: { module: news, action: politician }

news_attiDisegni_old:
    url: /news_attiDisegni/*
    param: { module: news, action: disegniList}
news_attiDisegni:
    url: /disegni-di-legge-ultime-notizie/*
    param: { module: news, action: disegniList}

news_attiDecreti_old:
  url: /news_attiDecreti/*
  param: { module: news, action: decretiList}
news_attiDecreti:
  url: /decreti-legge-ultime-notizie/*
  param: { module: news, action: decretiList}

news_attiDecretiLegislativi:
  url: /news_attiDecretiLegislativi
  param: { module: news, action: decretiLegislativiList}

news_attiNonLegislativi_old:
    url: /news_attiNonLegislativi/*
    param: { module: news, action: attiNonLegislativiList}
news_attiNonLegislativi:
    url: /atti-non-legislativi-ultime-notizie/*
    param: { module: news, action: attiNonLegislativiList}

news_votazioni:
  url: /news_votazioni
  param: { module: news, action: votazioni }
  
news_comunita:
  url: /news_comunita
  param: { module: news, action: comunita }  


attiSearch:
  url: /attiSearch/:type/*
  param: { module: sfSolr, action: attiSearch }

attiEvidenza_old:
  url: /attiEvidenza/*
  param: { module: atto, action: evidenza }
attiEvidenza:
    url: /atti-parlamentari-importanti/*
    param: { module: atto, action: evidenza }
  
attiDisegni_old:
  url: /attiDisegni/*
  param: { module: atto, action: disegnoList }
attiDisegni:
    url: /disegni-di-legge-in-parlamento/*
    param: { module: atto, action: disegnoList }

attiDecretiLegge_old:
    url: /attiDecretiLegge/*
    param: { module: atto, action: decretoList }
attiDecretiLegge:
  url: /decreti-legge/*
  param: { module: atto, action: decretoList }

attiDecretiLegislativi:
  url: /attiDecretiLegislativi/*
  param: { module: atto, action: decretoLegislativoList }

attiNonLegislativi_old:
  url:   /attiNonLegislativi/:sort/:type/*
  param: { module: atto, action: attoNonLegislativoList, sort: data_pres, type: desc, display: false }
attiNonLegislativi:
    url:   /atti-non-legislativi-in-parlamento/:sort/:type/*
    param: { module: atto, action: attoNonLegislativoList, sort: data_pres, type: desc, display: false }

singolo_atto:
  url: /singolo_atto/:id
  param: { module: atto, action: index }

set_atto_is_main_unified:
  url: /atto_is_main_unified
  param: { module: atto, action: setIsMainUnified }
  
widget_atto:
    url: /widget_atto
    param: { module: atto, action: widget }   
  
commenti_atto:
  url: /commenti_atto/:id
  param: { module: atto, action: commenti }

documento:
  url: /atto/documento/id/:id
  param: { module: atto, action: documento }

argomenti_old:
  url:   /argomenti    
  param: { module: argomento, action: list }
argomenti:
  url:   /lista-degli-argomenti-in-parlamento
  param: { module: argomento, action: list }
  
argomento_search:
  url:   /argomento_search/*
  param: { module: argomento, action: showFromSearch }

argomento:
  url:   /argomento/:triple_value/*
  param: { module: argomento, action: showAggiornamenti }

argomento_leggi:
  url:   /argomento_leggi/:triple_value/*
  param: { module: argomento, action: showLeggi }

argomento_nonleg:
  url:   /argomento_nonleg/:triple_value/*
  param: { module: argomento, action: showNonleg }

argomento_sioccupanodi:
  url:   /argomento_sioccupanodi/:triple_value/:ramo/*
  param: { module: datiStorici, action: interessi }

argomenti_actionaid:
  url:   /argomenti_actionaid/:ramo/*
  param: { module: argomento, action: listClassificaActionAid }

argomenti_enel:
  url:   /argomenti_enel/:ramo/*
  param: { module: argomento, action: listClassificaEnel }  

argomenti_per_categoria:
  url: /argomenti_per_categoria/*
  param: { module: argomento, action: ajaxTagsForTopTerm }

emendamenti_atto:
  url: /emendamenti_atto/:id/*
  param: { module: emendamento, action: index }

singolo_emendamento:
  url: /emendamento/:id
  param: { module: emendamento, action: show }

commenti_emendamento:
  url: /commenti_emendamento/:id
  param: { module: emendamento, action: commenti }
  
teseo:
  url:   /teseo/:id
  param: { module: teseo, action: index }

votazioniSearch:
  url: /votazioniSearch/*
  param: { module: sfSolr, action: votazioniSearch }
  
votichiave_old:
  url:   /votazioni/keyvotes
  param: { module: votazione, action: keyvotes }
votichiave:
    url:   /votazioni-in-parlamento-importanti
    param: { module: votazione, action: keyvotes }

votiRilevanti:
  url:   /votazioniRilevanti
  param: { module: votazione, action: relevantVotes }
  
maggioranzaSotto_old:
    url:   /votazioni/maggioranzaSotto/:sort/:type/*
    param: { module: votazione, action: maggioranzaSotto, sort: data, type: desc, display: false }
maggioranzaSotto:
    url:   /maggioranza-battuta-in-parlamento-nelle-votazioni/:sort/:type/*
    param: { module: votazione, action: maggioranzaSotto, sort: data, type: desc, display: false }  

parlamentariSotto_old:
    url:   /votazioni/parlamentariSotto/:ramo
    param: { module: votazione, action: parlamentariSotto, ramo: camera, display: false }
parlamentariSotto:
    url:   /parlamentari-che-fanno-battere-la-maggioranza-nelle-votazioni/:ramo
    param: { module: votazione, action: parlamentariSotto, ramo: camera, display: false }

maggioranzaSalva_old:
    url:   /votazioni/maggioranzaSalva/:sort/:type/*
    param: { module: votazione, action: maggioranzaSalva, sort: data, type: desc, display: false }  
maggioranzaSalva:
    url:   /maggioranza-salvata-da-opposizione-in-parlamento-nelle-votazioni/:sort/:type/*
    param: { module: votazione, action: maggioranzaSalva, sort: data, type: desc, display: false }

parlamentariSalva_old:
    url:   /votazioni/parlamentariSalva/:ramo
    param: { module: votazione, action: parlamentariSalva, ramo: camera, display: false }      
parlamentariSalva:
    url:   /parlamentari-di-opposizione-che-salvano-la-maggioranza-nelle-votazioni/:ramo
    param: { module: votazione, action: parlamentariSalva, ramo: camera, display: false }

votazioni_old:
  url:   /votazioni/:sort/:type/*
  param: { module: votazione, action: list, sort: data, type: desc, display: false }
votazioni:
  url:   /tutte-le-votazioni-in-parlamento/:sort/:type/*
  param: { module: votazione, action: list, sort: data, type: desc, display: false }

votazione_old:
    url: /votazione/:id
    param: { module: votazione, action: index }
    
votazione:
    url: /votazione/:ramo/:slug/:id
    param: { module: votazione, action: index }

commenti_votazione_old:
  url: /commenti_votazione/:id
  param: { module: votazione, action: commenti }
commenti_votazione:
    url: /votazione-commenti-utenti/:slug/:id
    param: { module: votazione, action: commenti }

parlamentariSearch:
  url: /parlamentariSearch/*
  param: { module: sfSolr, action: parlamentariSearch }

parlamentari_old:
#  url:   /parlamentari/:ramo/*
  url:   /parlamentari/:ramo/:sort/:type/*
  param: { module: parlamentare, action: list, ramo: camera, sort: nome, type: asc, display: false }
parlamentari:
  url: /lista-dei-parlamentari-in-carica/:ramo/:sort/:type/*
  param: { module: parlamentare, action: list, ramo: camera, sort: nome, type: asc, display: false }

comparaDeputati:
  url:   /parlamentare/comparaDeputati/:id1/:id2/:ramo/*
  param: { module: parlamentare, action: comparaDeputati, id1: 0, id2: 0, ramo: 1, display: false }
    
parlamentare_old:
  url:   /parlamentare/:id
  param: { module: parlamentare, action: cosa }
parlamentare:
  url:   /parlamentare/:slug/:id
  param: { module: parlamentare, action: cosa }
  
gruppi_camera_old:
  url:   /gruppi_camera
  param: { module: parlamentare, action: gruppiCamera }
gruppi_camera:
  url: /i-gruppi-in-parlamento/camera
  param: { module: parlamentare, action: gruppiCamera }

gruppi_senato_old:
  url:   /gruppi_senato
  param: { module: parlamentare, action: gruppiSenato }
gruppi_senato:   
  url: /i-gruppi-in-parlamento/senato 
  param: { module: parlamentare, action: gruppiSenato }
  
commissioni_camera_old:
  url:   /commissioni_camera
  param: { module: parlamentare, action: commissioniCamera }
commissioni_camera:
  url:   /commissioni-in-parlamento/camera
  param: { module: parlamentare, action: commissioniCamera }
  
commissioni_senato_old:
  url:   /commissioni_senato
  param: { module: parlamentare, action: commissioniSenato }    
commissioni_senato:
  url:   /commissioni-in-parlamento/senato
  param: { module: parlamentare, action: commissioniSenato }

commissioni_membri:
  url:   /commissioni_membri/:sede/:sort
  param: { module: parlamentare, action: commissioniMembri,  sede: 1, sort: carica }

commissioni_bicamerali_old:
  url:   /commissioni_bicamerali/:ramo
  param: { module: parlamentare, action: commissioniBicamerali, ramo: 'camera' }
commissioni_bicamerali:
  url:   /commissioni-bicamerali-in-parlamento/:ramo
  param: { module: parlamentare, action: commissioniBicamerali, ramo: 'camera' }

giunte_old:
  url: /giunte/:ramo
  param: { module: parlamentare, action: giunte, ramo: 'camera' }    
giunte:
  url: /giunte-in-parlamento/:ramo
  param: { module: parlamentare, action: giunte, ramo: 'camera' }

organi_old:
  url: /organi/:ramo
  param: { module: parlamentare, action: organi, ramo: 'camera' }  
organi:
  url: /presidenza-commissioni-e-giunte-in-parlamento/:ramo
  param: { module: parlamentare, action: organi, ramo: 'camera' }
  
giorni_di_carica:
  url: /giorni_di_carica/:ramo
  param: { module: parlamentare, action: giorniDiCarica, ramo: 'camera' }  
giorni_di_carica_deputati: 
  url: /deputati/da-quanto-tempo-sono-in-parlamento
  param: { module: parlamentare, action: giorniDiCarica, ramo: 'camera' }
giorni_di_carica_senatori: 
  url: /senatori/da-quanto-tempo-sono-in-parlamento
  param: { module: parlamentare, action: giorniDiCarica, ramo: 'senato' }

disegno_commissione:
  url:   /disegno_commissione/:sede/:stato/:leg
  param: { module: atto, action: disegnoCommissione,  sede: 1, stato: in corso di esame in commissione, leg: 16 }    
 
parlamentare_atti_old:
  url:  /parlamentare_atti/:id/:sort/:type/*
  param: { module: parlamentare, action: atti, sort: stato_last_date, type: desc }
parlamentare_atti:
  url: /atti-presentati-in-parlamento/:slug/:id/:sort/:type/*
  param: { module: parlamentare, action: atti, sort: stato_last_date, type: desc }

parlamentare_voti_old:
  url:  /parlamentare_voti/:id/*
  param: { module: parlamentare, action: voti }
parlamentare_voti:
  url: /votazioni-in-parlamento/:slug/:id/*
  param: { module: parlamentare, action: voti }

parlamentare_interventi_old:
  url:  /parlamentare_interventi/:id/*
  param: { module: parlamentare, action: interventi }
parlamentare_interventi:
  url:  /interventi-in-parlamento/:slug/:id/*
  param: { module: parlamentare, action: interventi }
  
parlamentare_emendamenti_old:
  url:  /parlamentare_emendamenti/:id/*
  param: { module: parlamentare, action: emendamenti }  
parlamentare_emendamenti:
  url:  /emendamenti-presentati-in-parlamento/:slug/:id/*
  param: { module: parlamentare, action: emendamenti }

parlamentari_tabella_delta:
  url:   /tabella_delta/:data/:mesi/:ramo/:dato
  param: { module: parlamentare, action: tabellaDelta }   

get_logged_user:
  url: /get_logged_user
  param: { module: default, action: getLoggedUser }
  
sf_captcha:
  url:   /captcha/:rk
  param: { module: sfCaptcha, action: index, rk: 0 }
  
# pagine statiche
progetto:
  url:  /progetto
  param: { module: static, action: progetto }

faq:
  url:  /faq
  param: { module: static, action: faq }
  
classifiche_parlamento:
  url: /le-classifiche-di-openpolis-sul-parlamento
  param: { module: default, action: classifiche }
  
static_page:
  url: /static/:action
  param: { module: static }    

# default rules
homepage:
  url:   /
  param: { module: default, action: index }

default_symfony:
  url:   /symfony/:action/*
  param: { module: default }

default_index:
  url:   /:module
  param: { action: index }

default:
  url:   /:module/:action/*
