ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input
{ margin: 0; padding: 0; }
a img,:link img,:visited img { border: none; }

a
{
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}

body, td
{
  margin: 0;
  padding: 0;
  font-family: Arial, Verdana, sans-serif;
  font-size: 11px;
  background-color: #fff;
}

body
{
  padding: 20px;
}

.ribelli{ background-color:#CFCFCF}

ul.menu { margin-bottom:50px }
ul.menu li { display:inline; margin-left:20px; font-size:1.1em; list-style-type:none; }



div.autocomplete {
  margin:0px;
  padding:0px;
}
div.autocomplete ul {
  list-style-type:none;
  margin:0px;
  padding:0px;
}
div.autocomplete ul li.selected { border: 1px solid #bbb; background-color: #5656ff; font-weight: bold; color: #fff;}
div.autocomplete ul li {
  border: 1px solid #5656ff;
  border-top: 0px;
  background-color: #fff;
  border-color: #5656ff;
  color: #5656ff;
  font-size: 1.15em;
  list-style-type:none;
  display:block;
  margin:0;
  padding:2px;
  height: 1.2em;
  cursor:pointer;
}

form#comment-form input.text { width: 200px; margin-bottom: 4px;}
form#comment-form input.text[readonly='readonly'] { color: #999;}



#sf_guard_auth_form {margin-top: 100px; width: 400px; margin-left: auto; margin-right: auto;}
#sf_guard_auth_form .title {text-align: center; font-weight: bold;  font-size: 18px;}
#sf_guard_auth_form .form-row {margin:8px;}
  #sf_guard_auth_form .form-row label {display: block; width: 120px; float: left; text-align: right; padding-top: 6px; padding-right: 10px;  font-size: 
14px;}
#sf_guard_auth_form .form-row input {height: 20px; width: 205px; border: 1px solid gray; padding: 3px;  font-size: 16px;}
#sf_guard_auth_form fieldset { margin-bottom: 10px; border: 0px;}
#sf_guard_auth_remember label { padding-top: 0px !important;}
#sf_guard_auth_forgot_password { margin-left: 1em; }
#sf_guard_auth_form input[type=submit] {font-size: 14px; margin-left: 100px;}
#sf_guard_auth_form .form_error {font-size: 10px; color: red; margin-bottom: 5px;}


#top_terms_drill_down div.tags ul { margin-bottom:10px }
#top_terms_drill_down div.tags ul li, ul#my_tags li{ 
  display:inline; margin-left:20px; font-size:1.1em; list-style-type:none; 
}
#top_terms_drill_down div.tags ul li:hover, ul#my_tags span.tag:hover, ul#my_tags span.remover:hover {
  cursor:pointer; color: darkred; text-decoration: underline;
}
ul#my_tags li span.remover {
  display: none;
}

#top_terms_drill_down div.tags ul li.selected { color: #aaa;}

#top_terms_drill_down div.top_term { font-size: 12px; font-weight: bold;}
#top_terms_drill_down div.top_term:hover { cursor:pointer; color: darkblue; text-decoration: underline; background-color: #ccc;}

