
form#comment-form input.text { width: 200px; margin-bottom: 4px;}
form#comment-form input.text[readonly='readonly'] { color: #999;}

.monitoring h3 {font-size: 20px; margin: 10px 0;}
.monitoring h4 {font-size: 16px; margin: 10px 0 3px 0;}
.monitored_acts h4:hover { cursor:pointer; color: darkblue; text-decoration: underline; }

#top_terms_drill_down div.tags ul { margin-bottom:10px }
.monitored_acts .acts ul li {
  margin-left:10px; margin-top: 5px; list-style-type:none;   
}
.monitored_acts .acts ul li span {
  font-size:1.2em; 
}
.monitored_acts .acts li span.tag a, #monitored_acts .acts li span.tag a:hover { 
  color: darkgreen; font-style: italic; 
}

#top_terms_drill_down div.tags ul li, ul#my_tags li{ 
  display:inline; margin-left:20px; font-size:1.1em; list-style-type:none; 
}
#top_terms_drill_down div.tags ul li:hover, 
.monitored_acts .acts ul span.title:hover,
ul#my_tags span.tag:hover, ul#my_tags span.remover:hover {
  cursor:pointer; color: darkred; text-decoration: underline;
}
ul#my_tags li span.remover {
  display: none;
}
.monitored_acts .acts ul span.iter{ color: darkcyan; font-style: italic; }

#top_terms_drill_down div.tags ul li.selected { color: #aaa;}

#top_terms_drill_down div.top_term { font-size: 12px; font-weight: bold;}
#top_terms_drill_down div.top_term:hover, #monitored_acts h3.type:hover { 
  cursor:pointer; color: darkblue; text-decoration: underline; background-color: #ccc;
}

#wiki-content { margin-left: 20px; }
#wiki-edit { margin-top: 10px; }
.nahoWiki form#edit_page.wiki-form {width: 50%; float:left;}
.wmd-preview {width: 48%; float: right; margin-top: 50px; height: 280px; overflow: auto; font-size: 12px;}


.monitored_acts div.news ul li{ 
  margin-left:20px; font-size:1.0em; list-style-type:none; 
}

.monitored_acts .politician span.name {
  font-size: 1.2em;
}

.monitored_acts .politician span.name:hover {
  cursor:pointer; color: darkblue; text-decoration: underline;
}

.news ul li.new { font-weight: bold;}

#tag_add { float:right;}
