/*
 * BASIC
 *----------------------------------------------*/

* { margin:0; padding:0; border: none; line-height: 1em; -moz-outline: none; }
select { border: 1px solid #999; }
body { background: #a8a8a8 url(../images/bg-body.png) repeat-x top left; color: #626262; font-family: Arial, Helvetica, sans-serif; font-size: 13px; }
a { color: #4472ac; text-decoration: none;  }
a:hover { color: #0066ff; text-decoration: underline; }
a.action:visited { color: #4472ac; }
a:visited { color: #583a71; }
a.external { padding-right: 14px; background: transparent url(../images/bg-ico-link-external.png) no-repeat center right; }
input { vertical-align: middle; }
input.revision { margin: 0 10px; }
input.blur { color: #aaa; }
ul { list-style-type: none; }
em { font-style: normal; color: #000000; }
p { line-height: 1.2em; }
table { width: 100%; border-collapse: collapse; }
table tbody th { text-align: left; font-weight: normal; }
table tbody td { text-align: center; }

.input-text { border: 1px solid #c3c3c3; border-top-color: #7c7c7c; border-bottom-color: #ddd; }


/*
 * FLOAT
 *----------------------------------------------*/
 
.float-right { float: right; }
.float-left { float: left; }
.clear-both { clear: both; }

/*
 * TYPOGRAPHY
 *----------------------------------------------*/

h2 { font-size: 22px; font-weight: bold; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }
thead th { font-size: 12px; vertical-align: top; }

.grey-888 { color: #888; margin-bottom: 0.7em; }
.subsection, .description, .subsection-alt { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; padding: 10px 16px; margin: 1em 0; }
.subsection { color: #4e8480; background-color: #faf8ef;  }
.description { color: #568ec7; background-color: #f0f6fc; }
.subsection-alt { color: #4e8480; background-color: #dce6e6; margin-bottom: 3px; }
.subsection-spec { padding: 5px 16px; margin-bottom: 0.8em; font-size: 15px; }

.pink-vanity { background-color: #fdfaf7; padding: 5px; margin-bottom: 5px; }
.pink-vanity .subsection { color: #f78a2b; background-color: #fff; }
.pink-vanity .topics { padding: 0 0 10px 0; line-height: 1.5em; } 
.pink-vanity .topics a { line-height: 1.5em; }


.indent { padding-left: 16px; margin-bottom: 10px; }
.interline { margin-bottom: 1em; }

.synopsis { font-size: 16px; font-weight: bold; margin: 1em 0; line-height: 1.2em; }

.micro-tip { font-size: 11px; padding-left: 10px; margin-bottom: 1em; }

.pad10 { padding: 10px; }

/*
 * WIKI
 *----------------------------------------------*/
 
.disegni-decreti.wiki-history { margin-left: 1%; width: 98%; }
.disegni-decreti.wiki-history thead th { font-size: 13px; }
.disegni-decreti.wiki-history tbody td { border: none; }

.disegni-decreti.wiki-history .even { background-color: #f5f5f5; }
.wiki-form-submit input { background-color: #fff; color: #0066ff; cursor: pointer; font-size: 15px; font-family: Arial, Helvetica, sans-serif; }
.wiki-form-submit input:hover { text-decoration: underline; }

.wiki-diff { margin: 1em 0 1em 1%; width: 98%; }

.wiki-diff ins {
  background-color: #e9f5ea;
  text-decoration: none;
  font-weight: bold;
  padding: 0px 2px;
	color: #239b2b;
}

.wiki-diff del {
  padding: 0px 2px;
  color: #aaa;
}


/*
 * COO-MIND
 *----------------------------------------------*/
 
.coo-mind { border: 1px solid #4e8480; -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; margin: 20px 0; }
.coo-mind .subsection { background-color: #83a9a6; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; color: #fff; margin: 0; }
.coo-mind table { position: relative; top: -25px; }
.coo-mind table thead img { position: relative; left: -45px; }
.coo-mind table thead th { vertical-align: bottom; }
.coo-mind table tbody th { text-align: left; padding: 8px; }
.coo-mind table tbody td { width: 150px; text-align: left; padding: 8px; }
.coo-mind table tbody td a { display: block; float: left; font-size: 16px; padding-right: 12px; }
.coo-mind table tbody th a { font-size: 14px; display: block; padding-right: 60px; }
.coo-mind table tbody th a:hover { background: url(../images/txt-commenta.png) no-repeat center right; }

.coo-mind table tbody th strong { font-size: 16px; padding-right: 2px; }
.activity-meter { display: block; float: left; background: url(../images/bg-coo-mind-activity.png) no-repeat center left;}



/*
 * WIKI-BOX
 *----------------------------------------------*/
 
.wiki-box { background-color: #f1f3fe; border: 1px solid #ebeaf2; 
            -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;  margin-bottom: 44px; }
.wiki-box-content { padding: 14px 10px; max-height: 200px; overflow: auto; }
.wiki-box p { margin-bottom: 1em; }
.wiki-box-edit  { display: block; float: right; height: 20px; background-color:#fff; position: relative; margin-right: 20px; border: 1px solid #e3e4ea; padding: 3px 26px 0 26px; margin-bottom: -1px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }

#wmd-preview h1, .wiki-box-content h1 { font-size: 28px;}
#wmd-preview h2, .wiki-box-content h2 { font-size: 24px;}
#wmd-preview h3, .wiki-box-content h3 { font-size: 20px;}
#wmd-preview h4, .wiki-box-content h4 { font-size: 16px;}

#wmd-preview ol, #wmd-preview ul, .wiki-box-content ol, .wiki-box-content ul { margin-left: 1em;}

#wmd-preview ul, .wiki-box-content ul {
  margin-left:0em;
  padding-left:0.2em;
  margin-bottom:1em;
}
#wmd-preview ul li, .wiki-box-content ul li {
  background:url(../images/bullet.gif) 0em 0.5em no-repeat; /* change background em accordingly */
  padding-left: 0.8em;
  list-style: none;
}
 
#wmd-preview ol li, #wmd-preview ul li,
.wiki-box-content ol li, .wiki-box-content ul li { margin-bottom:0.5em; }
 
#wmd-preview ol, .wiki-box-content ol {
  margin-left:1.5em;
  padding-left:0px;
}
#wmd-preview ol li, .wiki-box-content ol li {
  list-style:decimal;
  background-image:none;
  padding-left:0em;
}  
/*
# Primo capitolo #
## Primo paragrafo
### Prima sezione
#### Prima sotto-sezione

Questa è la prima sottosezione ...

1. Primo elemento
2. Secondo elemento

Altro

- primo
  - primo primo
  - primo secondo
  - primo terzo
- secondo
- terzo
*/



/*
 * EVIDENCE-BOX
 *----------------------------------------------*/
 
.evidence-box { -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px;  }
.evidence-box .subsection { background-color: #f0f4f4;
-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; 
-moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px;
-moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px;
 color: #4e8480; margin: 0; padding: 5px; }
 
.evidence-box .subsection-grey { background-color: #f0f0f0;
-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; 
-moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px;
-moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px;
 color: #999; margin: 0; padding: 5px; }
 
textarea.wikicontent { border: 1px solid gray; padding: 5px;}
p.wiki-form-submit { margin-left: 20px;}

.bg-light-cyan { background-color: #f1f3fe; }
 
.evidence-box p.green { margin-bottom: 1em; color: #39aa2d; font-size: 14px; }
.evidence-box p.violet { margin: 1em 0; color: #ab2ba2; font-size: 14px; }
 
.evidence-box .folk1, 
.evidence-box .folk2,
.evidence-box .folk3,
.evidence-box .folk4,
.evidence-box .folk5,
.evidence-box .folk6 { padding: 0; margin: 0; }

/*
 * FOLKSONOMIES
 *----------------------------------------------*/

.folk6 { font-size: 150%; }
.folk5 { font-size: 140%; }
.folk4 { font-size: 130%; }
.folk3 { font-size: 120%; }
.folk2 { font-size: 110%; }
.folk1 { font-size: 100%; }
.folk0 { font-size: 80%; }

.folk1, 
.folk2,
.folk3,
.folk4,
.folk5,
.folk6 { padding-right: 15px; margin-left: 7px; }


/*
 * LISTS
 *----------------------------------------------*/
 
.square-bullet { list-style-position: inside; padding-left: 16px; margin-bottom: 3px; }
.square-bullet li { list-style-type: square; margin-bottom: .8em; font-size: 14px; }
.square-bullet.no-interline { padding-bottom: 16px; line-height: 1.1em; }
.square-bullet.no-interline li { margin-bottom: 0; }
.more-results { background-color: #f7f7f7; padding: 10px 0; margin-bottom: 1em; }
.more-results .square-bullet { border-bottom: 1px solid #dfe0e0; list-style-type: none; /*background: transparent url(../images/bullet-square-mini-grey.png) no-repeat center left; */}
.more-results .square-bullet li { background: transparent url(../images/bullet-square-mini-grey.png) no-repeat 3px 5px; list-style-type: none; padding-left: 12px; }
.more-results .square-bullet li em { font-weight: bold; color: #a2a2a2; }
.more-results-close { float: right; padding-right: 10px; }

.more-results .news-time { padding: 0px; margin: 0px; left: -15px; top: 3px; background: url(../images/bg-news-time.png) no-repeat; height: 60px; width: 67px; text-align: center; color:#fff; float:left; clear:left;}
.more-results .news-time strong { display: block; line-height: 9px; font-family: 'Verdana';}
.more-results .news-time .day { font-size: 16px; line-height: 18px; letter-spacing: -1px; padding-top: 6px; font-family: 'Arial';}
.more-results .news-time .month { font-size: 10px; text-transform: lowercase;}
.more-results .news-time .year { padding-top: 7px; font-weight: normal; }

.news-list { list-style-position: inside; margin-left: 65px; margin-bottom: 3px;}
.news-list li { list-style-type: square; margin-bottom: .8em; font-size: 14px; }
.news-list.no-interline { padding-bottom: 16px; line-height: 1.1em; }
.news-list.no-interline li { margin-bottom: 0; }
.more-results { background-color: #f7f7f7; padding: 10px 0; margin-bottom: 1em; }
.more-results .news-day {border-bottom: 1px solid rgb(223, 224, 224); margin-bottom: 10px;}
.more-results .news-list {list-style-type: none; /*background: transparent url(../images/bullet-square-mini-grey.png) no-repeat center left; */}
.more-results .news-list li { background: transparent url(../images/bullet-square-mini-grey.png) no-repeat 3px 5px; list-style-type: none; padding-left: 10px; }
.more-results .news-list li em { font-weight: bold; color: #a2a2a2; }
.more-results-close { float: right; padding-right: 10px; }

.more-results table { background-color: #fafafa; }
.more-results table thead { background: none; border: none; height: 12px; }
.more-results h6 { margin: 8px;}
.iter { margin-bottom: 25px; }
.iter li { display: block; float: left; width: 175px; height: 47px; background: transparent url(../images/bg-iter-2.png) no-repeat bottom left; text-align: center; color: #a3a3a3; }
.iter li.step-yes { background: transparent url(../images/bg-iter-yes.png) no-repeat bottom left; }
.iter li.step-no { background: transparent url(../images/bg-iter-no.png) no-repeat bottom left; }
.iter li.step-now { background: transparent url(../images/bg-iter-1.png) no-repeat bottom left; }

.iter li.step-yes span.date { font-size: 12px; color: #a5871c; padding-right: 5px; }
.iter li.step-no span.date { font-size: 12px; color: #a5871c; padding-right: 5px; }
.iter li a.id { font-size: 12px; }
.iter li p { line-height: 32px; }
.iter li.step-yes p { color: #333; line-height: 32px; } 
.iter li.step-no p { color: #333; line-height: 32px; } 
.iter li.step-now p { color: #333; line-height: 32px; } 

.iter-last-event { font-size: 14px; font-weight: bold;}
.iter-last-event .date { color: #a2a2a2; font-weight: bold; }

.presentation { margin-bottom: 35px; }
.presentation li { float: left;  margin-right: 30px; color: #888; }
.presentation li em { color: #333; }

.tags { font-size: 15px; padding-left: 30px; background: transparent url(../images/bg-ico-tags.png) no-repeat center left; margin-bottom: .8em; }
.tags em { font-size: 16px; color: #4e8480; font-weight: bold; }
.tags-add { margin-bottom: 1em; }

/*
 * WIDTHS
 *----------------------------------------------*/

.W20_100 { width: 20%; }
.W25_100 { width: 25%; }
.W33_100 { width: 33%; }
.W40_100 { width: 40%; }
.W45_100 { width: 45%; }
.W48_100 { width: 48%; }
.W50_100 { width: 50%; }
.W52_100 { width: 52%; }
.W56_100 { width: 56%; }
.W66_100 { width: 66%; }
.W73_100 { width: 73%; }
.W100_100 { width: 100%; }
.ML2_100 { margin-left: 2%; }

/*
 * MAIN LAYOUT
 *----------------------------------------------*/

#wrapper { min-width:1004px; width: auto !important; width: 1004px; margin: 1px auto 10px auto; }
#wrapper-800 { min-width:750px; width: auto !important; width: 750px; margin: 1px auto 10px auto; }
#header { margin: 0 12px; }
#tools { background: #758d9c url(../images/bg-tools.png) repeat-x top left; height: 85px; font-size: 11px; color: #fff; padding: 12px 20px 0 45px;
-moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px;
-moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px;
}
#identity { float: left; margin-right: 10px; }
#tools img { vertical-align: middle; margin-right: 33px; }


#content { background-color: #fff; margin: 22px 12px 0 12px; 
-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}

#content.tabbed { -moz-border-radius-topleft: 0; -webkit-border-top-left-radius: 0; border-top-left-radius: 0; margin-top:0; }
#content.tabbed-orange { -moz-border-radius-topleft: 0; -webkit-border-top-left-radius: 0; border-top-left-radius: 0; margin-top:0; border-top: 10px solid #ee7f00; }

#footer { background-color: #ebebeb; height: 120px; margin: 23px 12px 0 12px;
-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}


#footer #footer-cont {
	width:98%;
	margin:0 auto 0 auto;
}
#footer #footer-cont img {
	margin:0 0 0 0;
}

#footer #footer-cont a:hover, #footer #footer-cont a:active {
	color:#2a76d4;
	text-decoration:underline;
}

#footer #footer-cont ul {
	margin:10px 0 20px 0;
	width:19%;
	float:left;
}
#footer #footer-cont ul li {
	list-style-type:none;
	padding:2px 0 0 0;
	width:90%; 
}

#footer #footer-cont ul li.footer-title {
	font-size:13px;
	font-weight:bold;
	color:#333333;
}

#teasers { padding: 12px 10px 10px 12px;  }

#main { padding: 12px 19px 12px 23px;  }
#content.tabbed #main { padding: 12px 10px 12px 10px; }
#content.tabbed-orange #main { padding: 12px 10px 12px 10px; }

/*
 * BREADCRUMBS
 *----------------------------------------------*/
#breadcrumbs { font-weight: bold; font-size: 12px; color: #cacaca; padding: 5px 5px 7px 5px;} 
#breadcrumbs a { color: #fff;  }
#breadcrumbs a:hover { text-decoration: underline; }

/*
 * CONTENT TABS
 *----------------------------------------------*/
 
#content-tabs { margin: 0 12px; }
#content-tabs li { float: left; background: #ccd4d5 url(../images/bg-tab-content.png) repeat-x top left; margin-right: 5px; padding: 0 18px;
-moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px; }

#content-tabs li a { line-height: 40px; }
#content-tabs li.current { background-image: none; background-color: #fff; }
#content-tabs li.current a, #content-tabs li.current a:visited, #content-tabs li.current { color: #4e8480; }
#content-tabs h2 { line-height: 40px; min-height: 1.4em; height:40px; float: left;}

#content-tabs.orange li { background: #e0b383 url(../images/bg-tab-content-orange.png) repeat-x top left; }
#content-tabs.orange li a { color: #f3f3f3; }
#content-tabs.orange li.current { background-image: none; background-color: #ee7f00; color: #fff; }
#content-tabs.orange li.current a, #content-tabs.orange li.current a:visited, #content-tabs.orange li.current { color: #fff; cursor: default; }
#content-tabs.orange h2 { font-size: 1.5em; line-height: 40px; min-height: 1.4em; height:40px; }

.last-update { font-size: 11px; color: #737373; padding: 0 0 8px 3px; }
.last-update strong { font-size: 13px; }

/*
 * 2ND LEVEL CONTENT TABS
 *----------------------------------------------*/

.second-level-tabs { background: transparent url(../images/bg-tabs-2nd-level.png) repeat-x top left; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; padding: 1px; float: left; position: relative; left: -9px; top: -6px; }
.second-level-tabs li, .second-level-tabs h5 { display: inline; }
.second-level-tabs a { color: #999; display: block; float: left; padding: 0 10px; height: 45px; line-height: 40px; border-right: 1px solid #fff; border-left: 1px solid #f0f0f0; }
.second-level-tabs a:hover { color: #0066ff; }

.second-level-tabs li:last-child a { border-right: none; }


.second-level-tabs .current a { color: #941299; cursor: default; background-color: #fff; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.second-level-tabs .current a:hover { text-decoration: none; }


/*
 * JUMP TO BUTTONS
 *----------------------------------------------*/

.jump-to-openpolis { color: #fff; background-color: #4a6b7a; display: block; border: 3px solid #d9ddbf; -moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px; padding: 3px 10px; text-align: center; margin-top: 2em;}

.jump-to-openpolis:visited { color: #fff; }

.jump-to-camera { display: block; border: 1px solid #ecf0f1; -moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px; padding: 3px 10px; text-align: center; margin: 1em 0;}

.jump-to-camera:visited { color: #4472ac; }

.jump-to-openpolis:hover, .jump-to-camera:hover { text-decoration: none; }
.jump-to-openpolis img, .jump-to-camera img { vertical-align: middle; }

/*
 * POLITICIAN MORE INFO
 *----------------------------------------------*/
 
.politician-more-info { padding: 20px 10px 10px 20px; font-size: 12px; color: #888; font-weight: bold; }
.politician-more-info a { font-size: 15px; }
.politician-more-info p { margin-bottom: 1em; }
.politician-more-info label { font-size: 14px; }
.politician-more-info strong { color: #333; }

/*
 * HELP BOX
 *----------------------------------------------*/
.help-box { background-color: #f2f6d2; border: 1px solid #edeee2;
-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; margin: 5px 0 10px 0; }

.help-box h5 { color: #ef5400; margin-bottom: 10px; }
.help-box p { margin-left: 70px; }
.help-box .ico-close { background: transparent url(../images/bg-ico-close.png) no-repeat center left; padding-left: 18px; float: left; width: 52px; }
.help-box div.inner { background: #f2f6d2 url(../images/bg-helpbox.png) no-repeat 10px 25px; border: 1px solid #dbdfbe;
-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; padding: 5px; min-height: 80px; }

.go-wikipedia { background-color: #fff; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; float: right; text-align: center; padding: 2px 5px; line-height: 1.2em; font-size: 11px; }

.go-wikipedia strong { color: #666; font-size: 13px; }

/*
 * TEASER BOX
 *----------------------------------------------*/

.teaser-box { border: 1px solid #999; min-height:138px; height: auto !important; height: 138px; padding: 12px 0;
-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}
.teaser-box em { color: #023558; font-style: normal; }
.teaser-box strong { color: #ee7f00; }
.teaser-box h3, .teaser-box h4 { margin: 0 12px 1em 12px; }

/*
 * SECTION BOX
 *----------------------------------------------*/

.section-box { background: transparent url(../images/bg-section-header.png) no-repeat top left; }
.section-box-rss { background: transparent url(../images/bg-section-header.png) no-repeat top right; float: right; padding: 12px 15px 0 0; }
.section-box h3 { padding: 5px 12px; color: #4e8480; }
.section-box h6 { padding: 10px 12px; color: #4e8480; }
.section-box .date { color: #bebebe; font-size: 11px; font-weight: bold; margin-bottom: 4px; padding-left: 2px; }
.section-box ul { font-size: 13px; padding-top: 12px; }
.section-box li { clear: left; margin-bottom: 5px; padding: 0 8px; }
.section-box em { color: #000000; }
.section-box p { margin-bottom: 0.3em; }

/*
 * SECTION BOX SCROLLER
 *----------------------------------------------*/

.section-box-scroller { font-size: 12px; margin-bottom: 30px; padding: 0 10px; }
.section-box-scroller img { vertical-align: middle; }
.section-box-scroller .unit { display: inline-block; border: 1px solid #c9caca; width: 9px; height: 9px; margin-left: 8px; }
.section-box-scroller .unit.current { border-color: #8d8e8e; cursor: default; }
.section-box-scroller .see-all { float: right; }
.section-box-scroller a:hover { text-decoration: underline; }
img.prev-active, img.next-active { display: none; }
.has-prev img.prev-active, .has-next img.next-active { display: inline; cursor: pointer; }
.has-prev img.prev-inactive, .has-next img.next-inactive { display: none; }

/*
 * OUR POLITICIANS
 *----------------------------------------------*/

#our-politicians { margin: 0 4px; }
#our-politicians a { color: #fff; }
#our-politicians h5 { background-color: #efefef; width: 120px; line-height: 50px; float: left; padding-left: 4px;
-moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; border-top-left-radius: 3px; -moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px; border-bottom-left-radius: 3px; }
#our-politicians thead tr { height: 35px; }
#our-politicians thead th  { vertical-align: middle; text-align: left;}
#our-politicians td { color: #fff; font-size: 11px; vertical-align: middle; text-align: center; }
#our-politicians td img { float: left; background: transparent url(../images/bg-ico-type-transparent.png) no-repeat center center; padding: 5px; margin: 0 2px; }
#our-politicians tbody td, #our-politicians tbody th { border-bottom: 10px solid #fff; }
#our-politicians th.cam {  padding: 0 12px; }
#our-politicians th.sen {  padding: 0 4px; }
#our-politicians tbody th { width: 120px; text-align: left; }

.green h5, span.green { color: #34961d; }
.red h5, span.red { color: #b13311; }
.gold { color: #c39c11; }
.green { color: #4d8f3f; }
.red { color: #aa4f36; }
.green td { background-color: #4d8f3f; }
.red td { background-color: #aa4f36; }
.green td.cam { padding: 0 0 0 8px; background: #4d8f3f url(../images/bg-green.png) no-repeat top left; }
.green td.sen { padding: 0 5px; background: #4d8f3f url(../images/bg-green.png) no-repeat top right; }
.red td.cam { padding: 0 0 0 8px; background: #aa4f36 url(../images/bg-red.png) no-repeat top left; }
.red td.sen { padding: 0 5px; background: #aa4f36 url(../images/bg-red.png) no-repeat top right; }

/*
 * DISEGNI-DECRETI ORDER-FILTER
 *----------------------------------------------*/

#disegni-decreti-order, #disegni-decreti-filter, #disegni-decreti-time-filter { font-size: 12px; clear: left; margin: 15px 0; }
#disegni-decreti-time-filter label { margin-left: 25px; }
#disegni-decreti-filter fieldset { zoom: 1; }
.disegni-decreti-date { margin-top: 15px; color: #22ce00; }
#disegni-decreti-order p, #disegni-decreti-filter p, #disegni-decreti-time-filter p { color: #22ce00; float: left; padding: 3px 10px 0 0; }
#disegni-decreti-order p { padding-right: 4px; }
#disegni-decreti-order li { float: left; padding: 0 3px 0 0; }
#disegni-decreti-order a { padding: 3px 10px 3px 2px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; display: block; float: left; border: 1px solid #dcdcdc; }
#disegni-decreti-order li:last-child { background-image: none; }
#disegni-decreti-order a.current { background-color:#e5e7e8; cursor: default; }
#disegni-decreti-filter select { width: 130px; margin-right: 7px; }
#disegni-decreti-filter .comboboxContainer { float: left; margin-right: 7px; }
#disegni-decreti-filter .labels { padding: 0 0 5px 60px; font-weight: bold; color: #999; }
#disegni-decreti-filter label { display: block; float: left; width: 130px; margin-right: 7px; }
#disegni-decreti-filter-apply { vertical-align: bottom; }
#disegni-decreti-order a.ascending { background: #e5e7e8 url(../images/ico-arrow-asc.png) no-repeat center right; }
#disegni-decreti-order a.descending { background: #e5e7e8 url(../images/ico-arrow-desc.png) no-repeat center right; }
#disegni-decreti-filter.active { background: #eaebec;}
#disegni-decreti-filter { padding: 5px;}
/*
 * SEARCH DDL
 *----------------------------------------------*/

#search-ddl { background-color: #fef5eb; padding: 6px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; margin-bottom: 30px; border: 1px solid #f4ece2; }
#search-ddl h6 { color: #ee4604; margin-bottom: 6px; }
#search-ddl-field { border: 1px solid #c3c3c3; border-top-color: #7c7c7c; border-bottom-color: #ddd; width: 70%; }
/* #search-ddl-go { background-color: #ee7f00; color: #fff; font-weight: bold; font-size: 14px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; } */

#search-ddl-go { vertical-align: bottom; }
#search-ddl-type-container { position: relative; top: -1px; }
#search-ddl-type { background-color:#ee7f00; border: 1px solid #4780ff; padding: 5px; position: absolute; z-index: 100; width: 150px; }
#search-ddl-type input { cursor: pointer; }
#search-ddl-type label { color: #fff; cursor: pointer; }
#search-ddl-type label:hover { color: #e4ff00; }
#search-ddl-type label.focus { color: #e4ff00; text-decoration: underline; }

/*
 * MONITORA - VOTA
 *----------------------------------------------*/
 
#monitor-n-vote { background-color: #fdfaf7; padding: 16px 6px 6px 6px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; margin-bottom: 30px; }
#monitor-n-vote h6 { color: #f78a2b; background-color: #fff; border: 1px solid #fde8d5; padding: 3px; margin-bottom: 6px; }

#monitor-n-vote h6.start-monitoring { background: transparent url(../images/start-monitoring_sx.png) no-repeat top left; padding: 0 0 0 61px; height: 54px; }
#monitor-n-vote h6.start-monitoring:hover { background: transparent url(../images/stop-monitoring_sx.png) no-repeat top left; padding: 0 0 0 61px; height: 54px; }

#monitor-n-vote h6.stop-monitoring { background: transparent url(../images/stop-monitoring_sx.png) no-repeat top left; padding: 0 0 0 61px; height: 54px; }
#monitor-n-vote h6.stop-monitoring:hover { background: transparent url(../images/start-monitoring_sx.png) no-repeat top left; padding: 0 0 0 61px; height: 54px; }


#monitor-n-vote h6.start-monitoring a, #monitor-n-vote h6.stop-monitoring a { display: block; border: none; background: transparent url(../images/start-monitoring_dx.png) no-repeat top right; height: 54px; color: #fff; padding: 5px 2px; line-height: 1.2em; }

#monitor-n-vote p { margin-bottom: 1em; padding: 0 3px; }

#monitor-n-vote .vote { padding: 0 3px; margin-bottom: 1em; }
#monitor-n-vote .vote a { margin-right: 8px; }

#monitor-n-vote ul#voting-items li img { margin-right: 8px;} 
#vote-yes-results { background-color: #d9ebd7; margin-bottom: 7px; }
#vote-no-results { background-color: #efdad8;  margin-bottom: 7px; }
.vote-bar { padding: 2px; color: #333; font-weight: bold; text-align: right; }

#vote-yes-results .vote-bar { background-color: #39aa2d; }
#vote-no-results .vote-bar { background-color: #bd3a2e; }

div.show-all-results {float:right; align-text: right; margin-top: -40px; margin-right: 10px;}

/*
 * METER BAR
 *----------------------------------------------*/

.meter-bar { padding: 10px; position: relative; }
.meter-average { position: absolute; top: -8px; z-index: 10; background: transparent url(../images/line-meter.png) no-repeat top left; height: 28px; width: 10px; margin-left: -2px; }
.meter-bar .meter-average label { margin-top: 29px; margin-left: 2px; padding: 2px 10px; background-color: #ffc500; display: none; font-size: 12px; font-weight: bold; color: #fff; }
.meter-bar:hover .meter-average { height: 40px; width: 200px;}
.meter-bar:hover .meter-average label { display: block; }

.green-meter-bar { background-color: #d9ebd7; margin-bottom: 7px; }
.red-meter-bar { background-color: #efdad8;  margin-bottom: 7px; }
.blue-meter-bar { background-color: #ddeaea;  margin-bottom: 7px; }
.violet-meter-bar { background-color: #f3cff0;  margin-bottom: 7px; }
.meter-bar { color: #333; font-weight: bold; text-align: right; }
.meter-value { position: absolute; padding: 2px; color: #333; font-weight: bold; left: 0; }
.meter-label { position: absolute; z-index: 15; padding: 2px; left: 0; }

.green-meter-bar .meter-bar { background-color: #39aa2d; padding: 3px;}
.red-meter-bar .meter-bar { background-color: #bd3a2e; padding: 3px; }

.meter-bar .green-meter-bar,
.meter-bar .red-meter-bar,
.meter-bar .blue-meter-bar,
.meter-bar .violet-meter-bar { margin-left: 90px; position: relative; margin-bottom: 30px; height: 18px;}

.meter-bar .evidence-box { border: 1px solid #eac4e7; padding: 10px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.meter-bar .evidence-box .violet-meter-bar { margin-left: 130px; }

.meter-bar label { display: block; float: left; font-size: 14px; color: #555; }

.green-meter-bar .meter-value { background-color: #39aa2d; }
.red-meter-bar .meter-value { background-color: #bd3a2e; }
.blue-meter-bar .meter-value { background-color: #589292; }
.violet-meter-bar .meter-value { background-color: #ab2ba2; }

.mb-idx { margin-left: 90px; position: relative; padding-top: 5px; }
.mb-idx-label { line-height: 20px; padding-top: 5px; }
.mb-idx .meter-label { line-height: 20px; }
.mb-idx .meter-average { height: 35px; margin-top: 5px; margin-left: -5px; }
.mb-idx .meter-average label { margin-top: 36px; }
.mb-idx ul { position: relative; z-index: 10; }
.mb-idx li { float: left; width: 10%; text-align: right; height: 25px; }
.mb-idx li p { position: relative; top: -1.25em; }

.pos-idx { text-align: left; margin-left: 90px; }
.pos-idx strong { color: #4a6b7a; font-size: 20px; }

.mb-idx .i1 { background-color: #f7f7f7; } 
.mb-idx .i2 { background-color: #f5f5f5; }
.mb-idx .i3 { background-color: #f1f1f1; }
.mb-idx .i4 { background-color: #ececec; }
.mb-idx .i5 { background-color: #e7e7e7; }
.mb-idx .i6 { background-color: #e2e2e2; }
.mb-idx .i7 { background-color: #ddd; }
.mb-idx .i8 { background-color: #d9d9d9; }
.mb-idx .i9 { background-color: #d5d5d5; }
.mb-idx .i10 { background-color: #d1d1d1; }

.mb-idx ul.t1 .i1, .mb-idx ul.t2 .i1, .mb-idx ul.t3 .i1, .mb-idx ul.t4 .i1, .mb-idx ul.t5 .i1, .mb-idx ul.t6 .i1, .mb-idx ul.t7 .i1, .mb-idx ul.t8 .i1, .mb-idx ul.t9 .i1, .mb-idx ul.t10 .i1 { background-color: #f7f5b6; }

.mb-idx ul.t2 .i2, .mb-idx ul.t3 .i2, .mb-idx ul.t4 .i2, .mb-idx ul.t5 .i2, .mb-idx ul.t6 .i2, .mb-idx ul.t7 .i2, .mb-idx ul.t8 .i2, .mb-idx ul.t9 .i2, .mb-idx ul.t10 .i2 { background-color: #fceda4; }

.mb-idx ul.t3 .i3, .mb-idx ul.t4 .i3, .mb-idx ul.t5 .i3, .mb-idx ul.t6 .i3, .mb-idx ul.t7 .i3, .mb-idx ul.t8 .i3, .mb-idx ul.t9 .i3, .mb-idx ul.t10 .i3 { background-color: #ffe08f; }

.mb-idx ul.t4 .i4, .mb-idx ul.t5 .i4, .mb-idx ul.t6 .i4, .mb-idx ul.t7 .i4, .mb-idx ul.t8 .i4, .mb-idx ul.t9 .i4, .mb-idx ul.t10 .i4 { background-color: #ffd078; }

.mb-idx ul.t5 .i5, .mb-idx ul.t6 .i5, .mb-idx ul.t7 .i5, .mb-idx ul.t8 .i5, .mb-idx ul.t9 .i5, .mb-idx ul.t10 .i5 { background-color: #ffc05f; }

.mb-idx ul.t6 .i6, .mb-idx ul.t7 .i6, .mb-idx ul.t8 .i6, .mb-idx ul.t9 .i6, .mb-idx ul.t10 .i6 { background-color: #ffb145; }

.mb-idx ul.t7 .i7, .mb-idx ul.t8 .i7, .mb-idx ul.t9 .i7, .mb-idx ul.t10 .i7 { background-color: #ffa22b; }

.mb-idx ul.t8 .i8, .mb-idx ul.t9 .i8, .mb-idx ul.t10 .i8 { background-color: #ff9415; }

.mb-idx ul.t9 .i9, .mb-idx ul.t10 .i9 { background-color: #ff8a01; }

.mb-idx ul.t10 .i10 { background-color: #f18100; }




.clipwrapper{ position:absolute; z-index: 20; height:25px; }
.meter-palette { width: 100%; height: 25px; float: left; }


#monitor-n-vote .vote-yes-more-results { color: #39aa2d;  margin-bottom: 30px; }
#monitor-n-vote .vote-no-more-results { color: #bd3a2e; margin-bottom: 15px; }
#monitor-n-vote .vote-yes-more-results strong, #monitor-n-vote .vote-no-more-results strong { font-size: 15px; }

hr.dotted { background: transparent url(../images/hr-dotted-orange.png) repeat-x top left; height: 1px; margin-bottom: 10px; width: 95%; }




/*
 * DISEGNI-DECRETI NEWS
 *----------------------------------------------*/
 
.news-disegni-decreti { background-color: #f2f6f6; padding: 0 10px 15px 10px; margin-top: 5px; }
.news-disegni-decreti strong { color: #a2a2a2; font-size: 12px; line-height: 1.2em;}
.news-disegni-decreti p { padding-left: 8px; line-height: 1.1em; }
.news-disegni-decreti li { border-bottom: 1px dotted #4e8480; }
.news-disegni-decreti .see-all { float: right; }

.news-parlamentari { padding: 5px 10px 15px 10px; margin: 3px 0 15px 0; border: 1px solid #f00; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; clear: both; }
.news-parlamentari strong { color: #a2a2a2; font-size: 12px; line-height: 1.2em; text-align: left; padding-left: 8px;}
.news-parlamentari p { padding: 0 8px 8px 8px; line-height: 1.1em; }
.news-parlamentari li.news-group { border-bottom: 1px dotted #4e8480; text-align: left; width: 100%; }
.news-parlamentari li:hover { background-color: #fffaea; }
.news-parlamentari .see-all { float: right; }

.table-row-more-info {border: 1px solid #f00; }


.topics { padding: 20px 10px; line-height: 1.3em; }
.topics a { padding: 3px 5px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; display: block; float: left; }
.topics a:hover { text-decoration: underline; background-color:#e5e7e8; }
.topics em { color: #666; }


ul.section-tab-switch { background: transparent url(../images/bg-tab-selector.png) repeat-x bottom right; }
ul.section-tab-switch li { clear: none; float: left; margin: 0; padding: 3px 7px; background: transparent url(../images/bg-tab-selector-item.png) no-repeat center right; }
ul.section-tab-switch li:last-child { background-image: none; }
ul.section-tab-switch li.current { background-color: #fff; background-image: none; }

#law-n-acts-proposals li { border-bottom: 1px solid #dfe0e0; }
#law-n-acts-proposals .user-votes { float: right; width: 130px; height: 24px; }
#law-n-acts-proposals .user-comments { clear: right; float: right; width: 130px; text-align: right; font-size: 11px; font-weight: bold; padding: 0 12px 2px 0; }
#law-n-acts-proposals .user-comments a strong { color: #999; }

.thumb-up, .thumb-down { font-size: 10px; padding-right: 11px; display: block; float: left; width: 5em; text-align: right; line-height: 24px;}
.thumb-approved, .thumb-rejected { font-size: 10px; padding-right: 11px; display: block; text-align: right; line-height: 24px;}
.thumb-approved, .thumb-up { background: transparent url(../../images/ico-thumb-up.png) no-repeat 100% 3px; }
.thumb-rejected, .thumb-down { background: transparent url(../../images/ico-thumb-down.png) no-repeat 100% 7px; }

.disegni-decreti { margin-bottom: 1em; }
.disegni-decreti thead th { padding: 0 5px 5px 5px; font-size: 11px; vertical-align: bottom; }
.disegni-decreti tbody th, .disegni-decreti tbody td  { padding: 10px 1px 5px 0; border-bottom: 1px solid #dfe0e0; border-top: 1px solid #fff; color: #000;}
.disegni-decreti tbody tr { padding-bottom: 3px; }
.disegni-decreti tbody tr.even { background-color: #ffffff; }
.disegni-decreti tbody tr.odd { background-color: #fafafa; }
.disegni-decreti tbody tr.even:hover { background-color: #fffaea; }
.disegni-decreti tbody tr.odd:hover { background-color: #fffaea; }
.disegni-decreti tr.ribelli { background-color: #faf8ef;}
.disegni-decreti td span.small { font-size:11px; color:#888888;}

.list-table { margin-bottom: 1em; }
.list-table thead th { padding: 0 5px 5px 5px; font-size: 11px; vertical-align: bottom; }
.list-table tbody th, .list-table tbody td  { padding: 0; border-top: 1px solid #fff; color: #000; }
.list-table tbody tr { padding-bottom: 3px; }

.btn-open { padding-right: 20px; background: transparent url(../images/bg-ico-open-close.png) no-repeat top right; }
.btn-close { padding-right: 20px; background: transparent url(../images/bg-ico-open-close.png) no-repeat bottom right; }

.btn-open-table { background: transparent url(../images/bg-ico-open-close.png) no-repeat 99% 0; border: 1px solid #e2e2e2; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; display: block; float: right; padding: 3px 20px 5px 3px; margin-top: 20px; position: relative; bottom: -5px; }
.btn-open-table:hover { border: 1px solid #f00; }
.btn-close-table { background: transparent url(../images/bg-ico-open-close.png) no-repeat 99% -19px; border: 1px solid #f00; border-bottom-color: #ffe6e6; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; display: block; padding: 3px 20px 5px 3px; height: 37px; position: relative; z-index: 10; margin-top: 20px; bottom: -5px;}

.btn-open-table span, .btn-close-table span { color: #888; text-decoration: none; }

/*
 * PAGENAV
 *----------------------------------------------*/
 
.pagenav { font-size: 16px; border: 1px solid #ee7f00; padding: 5px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; float: left; }

.pagenav em { color: #ee7f00; font-weight: bold; font-size: 20px; }
.pagenav label { color: #888; margin-left: 20px; }
.pagenav.tools-container .pagenav-jumpto a { color: #888; }
.pagenav.tools-container .pagenav-jumpto a:hover { color: #0066ff; }
#itemsperpage { margin-right: 20px; }

/*
 * LOGIN
 *----------------------------------------------*/

#login { float: right; font-size: 24px; color: #517486; background: transparent url(../images/bg-login-sx.png) no-repeat top left; height: 59px;  margin-top: 5px; padding-left: 10px; }
#login .inner{ background: transparent url(../images/bg-login-dx.png) no-repeat top right; height: 59px; line-height:59px; width: 210px; }
#logged-in { float: right; font-size: 16px; color: #517486; background: transparent url(../images/bg-login-sx.png) no-repeat top left; height: 59px;  margin-top: 5px; padding-left: 10px; }
#logged-in .inner{ background: transparent url(../images/bg-login-dx.png) no-repeat top right; height: 59px;  padding-right: 3px; width: 348px; }

#login span { display: block; float: left; margin: 0 5px; line-height: 59px;}
#login a { color: #ee7f00; height: 45px; display: block; line-height: 59px; float: left; }
#logged-in a { color: #ee7f00; display: block; }
#login a:hover, #logged-in a:hover { text-decoration: underline; }
#logged-in .username { color: #fff; font-weight: bold; line-height: normal; padding-right: 5px; display: block; float: left; padding: 3px 5px 0 0; }
#logged-in .username em { color: #859eab; }
#logged-in .userdata { padding: 5px 0 0 0; clear: left; text-align: center; }
#logged-in .userdata span { height: auto; font-size: 14px; line-height: normal; }
#logged-in .userdata a { height: auto; display: inline; line-height: normal; }
#logged-in .logout { display: block; float: right; font-size: 13px; line-height: normal; padding-right: 3px; padding-top: 3px; }
.sign-on { padding-left: 5px; }
.sign-in { padding-right: 15px;  }

#main #sf_guard_auth_form { float: left; width: 48%; padding: 10px 1% 50px; }
#main .registrati { float: left; width: 45%; padding: 10px 1% 0 10px; }

/*
 * LISTA ARGOMENTI
 *----------------------------------------------*/

.topics-list { margin-left: 10px; }
.topics-list li { padding-left: 12px; background: transparent url(../images/bullet-arrow-closed.png) no-repeat top left; font-size: 14px; margin: 4px 0; }
.topics-list li.opened { padding-left: 12px; background: transparent url(../images/bullet-arrow-opened.png) no-repeat top left; font-size: 14px; margin: 4px 0; }

.topics-list li ul { margin: 10px 0; }
.topics-list li ul li { background-image: none; display: inline; padding-right: 16px; margin: 0 5px; }
.topics-list li ul li:hover, .topics-list li ul li.monitoring { background: transparent url(../images/ico-monitoring.png) no-repeat center right; }
.topics-list li ul li.monitoring em { color: #888; border: 1px solid #f2bf9b; font-size: 10px; padding: 0 3px; }
.topics-list li ul li.tags { margin: 0 !important; }
.topics-list li ul li.tags:hover { background: none; }
.topics-list li ul li.tags a { padding-right: 0px !important;}


/*
 * SEARCH MAIN
 *----------------------------------------------*/

#search-main { float: right; position: relative; top: -2px; padding-right: 20px; }
#search-main-field { border: 1px solid #c3c3c3; border-top-color: #7c7c7c; border-bottom-color: #ddd;  width: 175px; font-size: 16px; margin-right: 3px; }
#search-main-go { vertical-align: bottom; }

#wrapper-800 #search-main-field { width: 100px; }

/*
 * MAIN NAVIGATION
 *----------------------------------------------*/
#navigation { background: #f7f7ea url(../images/bg-navigation.png) repeat-x top left; min-height:24px; height: auto !important; height: 24px; padding: 5px 5px 0 30px;
-moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; }

#navigation li { float: left;  }
#navigation a, #navigation .current { color: #f58300; font-size: 17px; padding: 0 6px; margin-right: 15px; 
-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
#navigation a:hover, #navigation .current { color: #fff; background-color: #f58300; text-decoration: none; }
#wrapper-800 #navigation { padding-left: 15px; }
#wrapper-800 #navigation a, #wrapper-800 #navigation .current { margin-right: 10px; }

/*
 * ICONS
 *----------------------------------------------*/

.ico-type { background: transparent url(../images/bg-ico-type.png) no-repeat top left; width: 50px; height: 50px; padding: 4px 0 0 3px; }
.ico-monitoring { background: transparent url(../images/ico-monitoring.png) no-repeat center right; }
.ico-monitoring-left { background: transparent url(../images/ico-monitoring.png) no-repeat center left; padding-left: 14px; font-size: 10px; margin-left: 4px; color: #ee7f00; }
.ico-help { background: transparent url(../images/bg-ico-help.png) no-repeat center right; padding-right: 16px; margin-right: 8px; line-height: 18px; }
.ico-first-signers { background: #faf8ef url(../images/bg-ico-first-signers.png) no-repeat 5px center; padding-left: 30px; }
.ico-co-signers { background: #faf8ef url(../images/bg-ico-co-signers.png) no-repeat 5px center; padding-left: 45px; }

.ico-star { background: transparent url(../images/ico-star-off.png) no-repeat center center; display: block; width: 16px; height: 16px; color: #fff; padding: 5px 20px; font-size: 1px; margin: 0 auto; }
.ico-star.bookmark { background: transparent url(../images/ico-star-on.png) no-repeat center center; }
.ico-star:hover { background: transparent url(../images/ico-star-on.png) no-repeat center center; color: #fff; }

.ico-thumb-up-big, .ico-thumb-down-big, .ico-no-vote-yet { margin-top: 16px; }

/*
 * MONITORING LIST
 *----------------------------------------------*/

.monitoring-list li { display: inline; }
.monitoring-list li .ico-stop_monitoring { display: none; margin: 0 10px 0 0; }
.monitoring-list li:hover .ico-stop_monitoring { display: inline-block; }
.monitoring-list li a:visited, .topics-list a:visited { color: #4472ac; }  

.monitoring-list li:hover .folk1, 
.monitoring-list li:hover .folk2,
.monitoring-list li:hover .folk3,
.monitoring-list li:hover .folk4,
.monitoring-list li:hover .folk5,
.monitoring-list li:hover .folk6 { padding-right: 0; margin-left: 7px; margin-right: -6px; }

.ico-stop_monitoring { display: block; width: 45px; height: 21px; color: #fff; background: transparent url(../images/bg-ico-stop_monitoring.png) no-repeat top right; text-align: left; margin: 0 auto;  font-size: 16px;}
.ico-stop_monitoring:hover { color: #fff; background: transparent url(../images/bg-ico-stop_monitoring.png) no-repeat bottom right; }
.monitoring-list .ico-stop_monitoring:visited, .ico-stop_monitoring:visited, .ico-stop_monitoring:active { color: #fff; }

.more-results .ico-stop_monitoring { display: inline-block; }

/*
 * PORTRAITS
 *----------------------------------------------*/
 
.portrait-91x126 { background: transparent url(../images/bg-ico-portrait-big.png) no-repeat center center; padding: 10px 10px; margin-right: 10px; }



/*
 * ROUNDED CORNERS
 *----------------------------------------------*/

.round-3 { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.round-3-left { -moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; border-top-left-radius: 3px; -moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px; border-bottom-left-radius: 3px; }
.round-5 { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.round-5-top { -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px; }
.round-5-bottom { -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; }

/*
 * COLUMN TABLE
 *----------------------------------------------*/

.column-table thead { background: transparent url(../images/bg-table-head.png) repeat-x top left; border-top: 1px solid #e5e5e5; border-left: 1px solid #e5e5e5; height: 30px; } 
.column-table thead th { background: transparent url(../images/bg-table-head-cell.png) no-repeat top right; }
.column-table .content-meta { padding-bottom: 4px; color: #999; }
.column-table .date { color: #bebebe; font-size: 11px; font-weight: bold; margin-bottom: 4px; padding-left: 2px; }
.user-stats-column { width: 10em; }
.user-stats-column p { font-size: 11px; clear: left; text-align: right; padding-right: 8px; }
.column-table .politician-id img { background: transparent url(../images/bg-ico-portrait-small.png) no-repeat center center; padding: 6px; margin: 0 2px; vertical-align: middle; }

.column-table thead th.evident { background: transparent url(../images/bg-table-head-cell-evident.png) no-repeat top right; border-left: 1px solid #e6c29d; border-top: 1px solid #e6c29d; }
.column-table tbody tr:first-child .evident { background: #fef3db url(../images/bg-table-body-cell-evident.png) repeat-x top left; }

.column-table tbody tr .evident { background-color: #fef3db; border-right: 1px solid #fff; }

/*
 * SIGNERS TABLE
 *----------------------------------------------*/

.signers { margin-bottom: 2em; margin-top: 1em; }
.signers td, .signers th { text-align: left; vertical-align: middle; } 
.signers tbody td { height: 50px; }
.signers img {vertical-align: middle; border: 2px solid #e3e3e4; margin-right: 3px;}

/*
 * BLOG
 *------------------------------------------------*/
#blog-posts { list-style-type: none; font-size: 12px; margin-bottom: 36px;}
#blog-posts .arrow-up { display: block; position: absolute; top: -14px; width: 7px; height: 14px; background: transparent url('imgs/arrow_up.png') no-repeat top left; }
#blog-posts-full li { margin: 12px 0; }
#blog-posts li { text-indent: 12px; background: transparent url('imgs/arrow_small.png') no-repeat 0 0px; margin: 12px 0; }
#blog-posts li p { text-indent: 0; border: 1px solid #cbbcc0; padding: 5px; margin: 14px 0 3px 0; position: relative; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
#blog-posts-full hr, hr.blog-comments-separator { width: 95%; background-color:#F4F4F4; color:#F4F4F4; height:2px; }
#blog-posts-full { list-style-type: none; font-size: 12px; margin-bottom: 10px; }
#blog-posts-full h3 { font-size: 1.4em; font-weight: normal; }
#blog-posts-full .odd, #blog-posts-full .even { padding: 5px 2px 2px 3px; margin-bottom: 2px; }
#blog-posts-full .arrow-up { display: block; position: absolute; top: -14px; width: 7px; height: 14px; background: transparent url('imgs/arrow_up.png') no-repeat top left; }
#blog-posts-full li {  margin: 12px 0; }
#blog-posts-full li p.meta, #blog-posts-full p.meta { text-indent: 2px; line-height: 14px; } 
#blog-posts-full li p.box { background-color: #f4f4f4; border: 1px solid #dfe7e7; padding: 5px; margin: 14px 0 0 0; position: relative; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
#blog-posts-full li img { margin: 0 2px; }

#blog-post-content, #proposal-content { width: 95%; color: #595959; font-size: 1.1em; }

#blog-post-comments { list-style-type: none; font-size: 12px; margin-bottom: 36px;}
#blog-post-comments .arrow-up { display: block; position: absolute; top: -14px; width: 7px; height: 14px; background: transparent url('imgs/arrow_up.png') no-repeat top left; }
#blog-post-comments li { text-indent: 2px; margin: 12px 0; padding:13px 0 0 0;}
#blog-post-comments li p { width: 95%; text-indent: 0; background-color: #f4f4f4; border: 1px solid #DFE7E7; padding: 5px; margin: 14px 0 0 0; position: relative; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }

#blog-post-form { width: 95%; }
#blog-post-form hr { width: 95%; background-color:#F4F4F4; color:#F4F4F4; height:2px; }

#blog-post-form p { margin: 1em 0; clear: left; font-size: 0.9em; }
#blog-post-form p.error { color: #cf0022; background-color: #fbed73; padding: 2px; margin-top: 2px; float: left; }
#blog-post-form input { margin: 0 5px; }
#blog-post-form fieldset { padding-left: 15px; }
#blog-post-form textarea, #blog-post-form input { border: 1px solid #DFE7E7; padding: 3px; }
#blog-post-form input[type='text'] {width: 200px; }
#blog-post-form input.btn-submit { background-color:transparent; border:medium none; color:#0066ff; cursor:pointer; }
#sfSimpleBlog_comment_list { margin-top: 15px; }

.blog-extra { list-style-type: none; font-size: 14px; margin: 12px 0 36px 0;}
.blog-extra img { margin: 0 2px; }


/* SEARCH BOX
 *----------------------------------------------*/
#search-autocompleter {
 -moz-border-radius-bottomleft:3px;
 -moz-border-radius-bottomright:3px;
 -moz-border-radius-topleft:3px;
 -moz-border-radius-topright:3px;
 background-color:#FEF5EB;
 border:1px solid #F4ECE2;
 margin-bottom:30px;
 padding:6px;
}
#search-autocompleter h6 {
 color:#EE4604;
 margin-bottom:6px;
}
#tag_search { border-color:#7C7C7C #C3C3C3 #DDDDDD; border-style:solid; border-width:1px; width:70%; height: 20px; font-size: 1.2em; }
input.blur { color:#AAAAAA; } 


/*
 * TOOLS CONTAINER
 *----------------------------------------------*/

.tools-container, .tools-container:visited, .tools-container a, .tools-container a:visited { color: #4472ac; }
.tools-container:hover, .tools-container a:hover { color: #0066ff; }

/*
 * FIXED TABLE 
 *----------------------------------------------*/
.fixed_table {
    table-layout: fixed;
}

/*
 * FLOAT CONTAINER
 *----------------------------------------------*/

.float-container:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.float-container {display: inline-block}   /* a fix for IE Mac */
/* Hides from IE-mac \*/
.float-container {display: block}
/* End hide from IE-mac */


.search-controls input#query { width: 200px; height: 20px; font-size: 14px; color: #343434; border: 1px solid #333;}

ul.monitoring-list { min-height: 30px;}
li.top_term li a:hover { background-color: #ededed;}

#tag_edit .ac_input {
  border:1px solid gray;
  font-size:1.2em;
  height:1.25em;
  width:600px;
}
.tags div {
  display: inline;
}
.tags span.remover:hover { cursor: pointer;}

.sfWebDebugLogs td { text-align: left; }
